* {
    font-family: 'Poppins', sans-serif;
}

.head-container {
    display: flex;
    background-color: #012A4A;
    color: #BDD0DE;
    border-bottom:10px solid #EBBD67;

}

.page-container {
    display: flex;
}

.left {
    border-right:5px solid #EBBD67;
    flex-basis: 30%;
    background-color: #F8F9FA;

}

.right {
    border-left:5px solid #EBBD67;
    flex-basis: 70%;
    background-color: #2A6F97;
    color: white;
    

}

.name-title {

    flex-basis: 60%;
}

.formal-img {
    background-color: rgb(169, 169, 8);
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 200px;
    height: 200px;
    flex-basis: 40%;
    object-fit: cover;
    border: 4px solid black;
}

.name-title h2 {
    font-size: 2.5rem;
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 35px;
}

.name-title hr {
    color: #BDD0DE;
    margin-left: 250px;
    width: 30%;
    border: solid;
}

.name-title h4 {
    margin-top: 0%;
    margin-left: 250px;
    font-size: 1.5rem;
}

.contact {
    margin-left: 30px;
}

.phone,
.email,
.address {
    display: flex;

}

.contact a {
    margin: 27px 20px 20px 20px;
}

.contact h3 {
    font-size: 1.75rem;
    margin-bottom: 0px;
}

.contact h4 {
    margin: 0px;
    font-size: 1.5rem;
    margin-top: 20px;
}

.contact h6 {
    margin: 0px;
    font-size: 1rem;

}

.under-title {
    margin-left: 1px;
    width: 50%;
    border: 0.5px solid;
}
.education{
    margin-left: 30px;
}
.education .under-title{
    margin-bottom: 20px;
}
.education a{
    margin: 0px 20px 0px 0px;
}
.education h3 {
    font-size: 1.75rem;
    margin-bottom: 0px;
}
.year{
    display: flex;
}
.year h4 {
    margin: 0px;
    font-size: 1.1rem;
    
}
.year h5{
    margin: 10px 0px;
    font-size: 0.8rem;
}
.hobbies{
    margin-left: 30px;
}
.hobbies h3 {
    font-size: 1.1rem;
    margin-bottom: 0px;
}
.hobbies-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    
    
}
.card{
    
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #551A8B;
    margin: 15px;
    transition: 0.7s ease;
}
.info-invite{
    display: none;
}
.card:hover{
    transform: scale(1.1);
}
.card:hover .info-invite{
    display: block;
}
.card:hover .info-title{
    display: none;
}
.card:hover .icon{
    display: none;
}
#pod, #book{
    margin-top: 20px;
    text-align: center;
    
    font-size: 0.7rem;
}
.icon{
    margin: 15px 15px 0px 15px;
    color: #F8F9FA;
    font-size: 1.5rem;
    text-align: center;
}
.info{
    margin: 15px 15px 0px 15px;
    color: #F8F9FA;
    text-align: center;
}
.about{
    margin-left: 30px;
}
.about h3{
    font-size: 2rem;
    margin-bottom: 0px;
}
.about h4 {
    margin-right: 20px;
    font-size: 1.1rem;
    
}
.about .under-title {
    margin-left: 1px;
    width: 20%;
    border: 0.5px solid;
}
.what-iknow-lang  ,.what-iknow-fram {
    
    display: flex;
}

.what-iknow h4 {
    margin-right: 20px;
    font-size: 1.5rem;
    margin-bottom: 0px;
    
}
.under-title-langul{
    margin-top: 0px;
    margin-left: 1px;
    width: 14%;
    border: 0.5px solid
}
.lang-card{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background-color: #183153;
    margin: 15px;
    transition: 0.7s ease;
    justify-content: center;
    align-content: center;
}
.lang-card:hover{
    transform: scale(1.1);
}
.lang-icon{
    margin: 15px 15px 0px 15px;
    font-size: 2.5rem;
    text-align: center;
    
}
.lang-info h3{
    margin-top: 20px;
    ;
}
.html{
    background-color: #DD4B25;
}
.js{
    background-color: #EFD81D;

}
.css{
    background-color: #3595CF;
}
.python{
    background-color: #F7CC42;
}
.java{
    
    background-color: #E51F24;
}
.boot{
    background-color: #51347C;
}
.react{
    background-color: #00D1F7;
}
.boot h3
{
    margin-top: 25px;
    margin-left: 0px;
    font-size: 1.5rem;
}
.more-detailes{
    color: white;
}
.get-in-touch-form{
    margin-top: 50px;
    margin-left: 25%;
}
.inputs{
    width: 400px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #551A8B ;
}
.text-area{
    width: 400px;
    height: 70px;
    border-radius: 5px;
    border: 2px solid #551A8B ;
    margin-bottom: 0px;
    
}
.btn{
    margin-bottom: 100px;
    border-radius: 5px;
    border: 2px solid #551A8B ;
    background-color: #551A8B;
    color: white;
}
::placeholder{
    color: #6e7f8b;
    opacity:150% ;
}